[Desktop Entry]
Encoding=UTF-8
Name=Ekwicoin
Comment=Ekwicoin P2P Cryptocurrency
Comment[fr]=Ekwicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ekwicoin, eşten eşe kriptografik sanal para birimi
Exec=ekwicoin-qt %u
Terminal=false
Type=Application
Icon=ekwicoin128
MimeType=x-scheme-handler/ekwicoin;
Categories=Office;Finance;
